/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    padding: 24px;
    border: 10px solid blue;
    border-radius: 12px;
}
#content {
    padding:12px ;
    background-color: red;
}

#left-side {
    display: inline-block;
    width: 65%;
}
#right-side {
    display: inline-block;
    width: 34;
    background-color: teal;
}

#id-and-expiration div {
    display: inline-block;   
}
#data-left div